
@import "fonts";
@import "mixinVarClasses";
@import "menu";
@import "fouad-style";
@import "styleAO";
@import "mobile";
/*
menu 
https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci

video silder
https://codepen.io/ksiabani/pen/qNvLKY

https://fontawesome.com/v4.7.0/icons/
*/
